[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyqt5-stubs = ">=5"
twine = "*"

[packages]
pyvisa = ">=1, <2"
pyserial = ">=3, <4"
scipy = ">=1, <2"
matplotlib = ">=3, <4"
pyqt5 = ">=5"

[requires]
python_version = "3.7"
